{% extends 'master.html' %}
{% load static %}

{% block content %}

  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <h2>Register</h2>

    <div class="input-box">
      <input type="text" name="username" placeholder="Username" required>
    </div>

    <div class="input-box">
      <input type="email" name="email" placeholder="Email" required>
    </div>

    <div class="input-box">
      <input type="password" name="password1" placeholder="Password" required>
    </div>

    <div class="input-box">
      <input type="password" name="password2" placeholder="Confirm Password" required>
    </div>

    <button type="submit" class="btn">Sign Up</button>
    <p class="signup-text">Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </form>
{% endblock %}

